*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: linear-gradient(rgb(19, 53, 19), rgb(59, 59, 16));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#board
{
    border: 3px solid black;
    height: 90vmin;
    width: 90vmin;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-image: linear-gradient(rgb(133, 246, 133), rgb(226, 226, 81));
    margin: 5vh auto 0 auto;
}
.head
{
    background-color: rgb(48, 8, 209);
    border: 2px solid rgb(229, 225, 229);
    scale: 1.1;
    border-radius: 5px;
}
.snakeBody
{
    background-color: rgb(155, 27, 223);
    border: 2px solid rgb(234, 233, 234);
    border-radius: 5px;
}
.food
{
    background-color: rgb(247, 77, 15);
    border: 2px solid purple;
    border-radius: 5px;
}
#scorePanel
{
    display: grid;
    width: 20vmin;
    grid-template-rows: repeat(2, 1fr);
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: 10vmin;
    right: 10vmin;
    font-family: monospace;
    text-align: center;
    color: rgba(255, 255, 255, 0.766);
}
#waterMark 
{
    color: rgba(255, 255, 255, 0.388);
    font-family: monospace;
    position: absolute;
    left: 5vmin;
    bottom: 5vmin;
    font-size: 2vmin;
}