:root
{
    --board-shadow: 0 0 20px rgba(95, 223, 240, 0.682);
    --snake-shadow: 0 0 15px rgba(95, 223, 240, 0.682);
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(0, 29, 31);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#board
{
    border: 3px solid rgb(95, 187, 240);
    border-radius: 5px;
    box-shadow: var(--board-shadow);
    height: 90vmin;
    width: 90vmin;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: rgb(3, 28, 29);
    margin: 5vh auto 0 auto;
    margin-top: 3vh;
}
.head
{
    background-color: rgb(51, 195, 4);
    border: 2px solid rgb(193, 193, 193);
    box-shadow: var(--snake-shadow);
    scale: 1.1;
    border-radius: 12px;
}
.snakeBody
{
    background-color: rgb(155, 27, 223);
    border: 2px solid rgb(234, 233, 234);
    box-shadow: var(--snake-shadow);
    border-radius: 12px;
}
.food
{
    background-color: rgb(251, 85, 20);
    border: 2px solid rgb(235, 235, 235);
    scale: 1.1;
    box-shadow: var(--snake-shadow);
    border-radius: 12px;
}
#scorePanel
{
    display: grid;
    width: 90vmin;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2vh;
    font-family: monospace;
    text-align: center;
    color: rgba(255, 255, 255, 0.766);
}
#waterMark 
{
    color: rgba(255, 255, 255, 0.7);
    font-family: monospace;
    position: absolute;
    left: 5vmin;
    bottom: 5vmin;
    font-size: 2vmin;
}
#gesuredZone
{
    display: none;
    border: 3px solid rgb(95, 187, 240);
    border-radius: 5px;
    box-shadow: var(--board-shadow);
    margin: 5vh auto 0 auto;
    width: 90vw;
    height: 30vh;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: rgba(95, 187, 240, 0.393);
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
@media all and (max-width: 599px)
{
    #gesuredZone
    {
        display: flex;   
    }
}